body {
    background: #99CCFF;
    font-family: Helvetica;
    margin: 0;
}

/*SOME EMIR CODES*/
header {
    position: relative;
    height: 150px;
    font-weight: bold;
    background: #547980;
    font-weight: bolder;
    padding: 20px;
    color: white;
}

header .logo {
    position: absolute;
    bottom: 0;
    font-size: 100px;
}

header nav {
    font-weight: bold;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

header a:link, 
header a:visited,
header a:active,
header a:hover {
    color: white;
    text-decoration: none;
}

footer {
    height: 50px;
    background: #594F4F;
    color: #EFEFEF;
    padding-top: 20px;
    text-align: center;
}

#main-container {
    width: 1200px;
    margin: auto;
}

#main-content {
    min-height: 600px;
    background: #EFEFEF;
    padding: 20px;
    color: #676056;
}

.segment {
    padding: 10px;
    background: #F2E9E1; 
    margin-bottom: 30px;
}

    /*Home page*/
    .greeting {
        font-weight: bold;
        font-size: 36px;
    }


/*END OF SOME EMIR CODES*/

.reg {
    margin: 0;
    padding: 0;
}
.c {
    position: relative;
    margin: 0 auto;
}
#login {
    top: 125px;
    height: 215px;
    width: 400px;
    background: rgba(256,256,256,0.9);
    border-radius: 50px;
    text-align: center;
    color: #336699;
    font-weight: bold;
    padding: 10px;
    font-size: 28px;
}
#logo a:link, #logo a:visited, #logo a:active, #logo a:hover {
    display: inline-block;
    padding: 10px;
    margin: 0px;
    text-decoration: none;
    color: white;
}
#logo {
    color: white;
    font-size: 72px;
    font-weight: bold;
    height: auto;
    width: 400px;
    text-align: center;
    top: 75px;
}
#form {
    font-weight: normal;
    font-size: 14px;
    color: #333333;
}
.input {
    display: block;
    border: none;
    width: 250px;
    height: 16px;
    background: rgba(241,241,241,0.8);
    padding: 5px;
    text-align: center;
    margin: 10px auto;
    color: #232323;
    overflow: hidden;
}
#submit {
    display: block;
    border: none;
    background: #336699;
    width: 75px;
    height: 30px;
    padding: 0px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
#register {
    font-size: 12px;
    font-weight: normal;
}
#register a:link, #register a:visited {
    text-decoration: none;
    color: #336699;
}
#register a:hover, #register a:active {
    text-decoration: underline;
}
.red {
    color: red;
    font-size: 12px;
    font-weight: normal;
    display: none;
}